

  <div class="advisor-index-container">

    <div class="advisors-head">
      <span class="meet">Meet your advisors</span>
      <br>
      <span class="meet">Don't be shy, pick one!</span>
    </div>

    <% @advisors.each do |advisor| %>
      <%= link_to show_advisor_user_path(advisor), class: 'advisor-cards' do %>
        <div class="tweet-cards">
          <div class="index-profile-pic">
            <%= cl_image_tag advisor.photo, height: 1000, crop: :fill %>
          </div>
          <div class="card-main">

            <p class="card-name">
              <span class="first-name"><%= advisor.first_name.capitalize %></span>
              <span class="last-name"><%= advisor.last_name.capitalize unless advisor.last_name.nil? %></span>
            </p>

            <p class="advisor-details">
              <span class="detail-names">SPECIALTY:</span>
              <span class= "detail-content"><%= 'Saving' if advisor.saving %> <%= 'Budgeting' if advisor.budgeting %> <%= 'Bill Paying' if advisor.bill_paying %>
              </span>
            </p>
            <p class="advisor-details">
              <span class="detail-names">RESPONSE TIME:</span>
              <span class= "detail-content"><%= advisor.response_time %>h</span>
            </p>
          </div>

          <div class="card-rating">
            <p class="rating-details">
              <% sum = 0 %>
              <% average = 0 %>
              <% advisor.reviews.each do |review| %>
                <% sum += review.rating %>
                <% occurrences = advisor.reviews.count %>
                <% average = sum.to_f/occurrences.to_f %>
              <% end %>
              <%= average.round(2) %> <i class="fas fa-star"></i>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <span class="cedric-span"></span>
    <span class="random-container"></span>
    <span class="random-span"></span>
  </div>



