  <div class="background-container">
    <% if params[:r_id] %>
    <% else %>
        <i class="fas fa-caret-left"></i>
      <%= link_to 'Back to Advisors', advisors_users_path, class: "btn-orange" %>
    <% end %>
    <div class="advisor-main">
      <div class="profile-pic">
        <%= cl_image_tag @advisor.photo, height: 1000, crop: :fill %>
      </div>

      <div class="basic-info">
        <h3 ><%= @advisor.first_name.capitalize %> <%= @advisor.last_name.capitalize unless  @advisor.last_name.capitalize.nil? %></h3>
        <p class="no-margin">SPECIALTY: <strong> <%= 'Saving' if @advisor.saving %> <%= 'Budgeting' if @advisor.budgeting %> <%= 'Bill Paying' if @advisor.bill_paying %> </strong></p>
        <p class="no-margin">RESPONSE TIME: <strong> <%= @advisor.response_time %> Hours </strong></p>
        <p class="no-margin"></p>
      </div>
    </div>
    <div class="profile">
      <p>RATING </p>
      <p> <strong><%= @average %> <i class="fas fa-star"></i> </strong></p>

      <p> TOTAL REQUESTS </p>
      <p><strong><%= Request.where(advisor: @advisor).count %> </strong> </p>
      <p>BIO</p>
      <div class="bio">
        <p><%= @advisor.bio %> </p>
      </div>

      <div id="reviews">
        <h3> REVIEWS</h3>
        <% if @request.id.nil? %>
          <div id="all-reviews">
            <% @advisor.reviews.each do |review| %>
              <div class="col-12 margin-bottom review-info">
                <div class="reviewer">
                  <p class="small-margin-bottom"> <%= review.client.first_name %> </p>
                </div>
                  <div class="review-body">
                    <p><%= review.rating.times do %>
                      <i class="fas fa-star"></i>
                      <% end %>
                    </p>
                    <p> <%= review.content %> </p>
                  </div>
              </div>
            <% end %>
            <h6>Make a request with <%= @advisor.first_name.capitalize %> to leave a review </h6>
          </div>

        <% elsif @request.review.blank? && params[:r_id] %>
          <h4 id="form-head">Please leave a review for your request with <%= @advisor.first_name.capitalize %></h4>
          <%= render 'reviews/form', advisor: @advisor, review: @review, r_id: params[:r_id] %>
        <% else %>
          <div id="all-reviews">
            <h3 class="margin-bottom"><%= @advisor.first_name.capitalize %>'s Reviews</h3>
            <% @advisor.reviews.each do |review| %>
              <div class="col-12 margin-bottom review-info">
                <div class="reviewer">
                  <p class="small-margin-bottom"> <%= review.client.first_name %> </p>
                </div>
                  <div class="review-body">
                    <p>
                      <%= review.rating.times do %>
                      <i class="fas fa-star"></i>
                      <% end %>
                    </p>
                    <p> <%= review.content %> </p>
                  </div>
              </div>
            <% end %>
         </div>
        <% end %>
        <%= simple_form_for @request, method: :post, url: requests_path do |f| %>
        <%= f.input :advisor_id, as: :hidden, input_html: { value: @advisor.id }  %>
        <%= f.submit 'BOOK ME', class: "btn btn-danger btn-md btn-submit", data: {disable_with: "<i class='fas fa-spinner'></i>done".html_safe } %>
      <% end %>
      </div>
    </div>
  </div>



