  <div class="background-container">
    <% if params[:r_id] %>
    <% else %>
        <i class="fas fa-caret-left"></i>
      <%= link_to 'Back to Advisors', advisors_users_path, class: "btn-orange" %>
    <% end %>
    <div class="advisor-main">
      <div class="profile-pic">
        <%= cl_image_tag @advisor.photo, height: 1000, crop: :fill %>
      </div>

      <div class="basic-info">
        <span class="first-name-show"> <%= @advisor.first_name.capitalize %> </span>
        <span class="last-name-show">
          <%= @advisor.last_name.capitalize unless  @advisor.last_name.capitalize.nil? %>
        </span>

        <p class="no-margin">
          <span class="detail-names">SPECIALTY:</span>
          <span class= "detail-content"><%= 'Saving' if @advisor.saving %> <%= 'Budgeting' if @advisor.budgeting %> <%= 'Bill Paying' if @advisor.bill_paying %>
          </span>
        </p>
        <p class="no-margin">
          <span class="detail-names">RESPONSE TIME:</span>
          <span class= "detail-content"><%= @advisor.response_time %> Hours</span>
        </p>
        <p class="no-margin"></p>
      </div>
    </div>
    <div class="profile">
      <p class="show-head">RATING </p>
      <p class="detail-content"><%= @average %> <i class="fas fa-star"></i></p>

      <p class="show-head"> TOTAL REQUESTS </p>
      <p class="detail-content"><%= Request.where(advisor: @advisor).count %></p>

      <p class="show-head">BIO</p>
      <p class="bio bigger-margin-bottom"><%= @advisor.bio %> </p>

      <div id="reviews">
        <p class="show-head small-margin-bottom"> REVIEWS</p>
        <% if @request.id.nil? %>
          <div id="all-reviews">
            <% @advisor.reviews.each do |review| %>
              <div class="review-info">
                <div class="reviewer">
                  <div class="small-margin-bottom first-name">
                    <span class="first-name margin-right">
                      <%= review.client.first_name.capitalize %>
                    </span>

                    <span class="last-name">
                      <%= review.client.last_name.capitalize unless review.client.last_name.nil? %>
                    </span>
                  </div>


                  <span>
                    <p>
                      <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                      <% end %>
                    </p>
                  </span>

                </div>

                  <div class="review-body">
                    <p class="review-content"> <%= review.content %> </p>
                  </div>
              </div>
            <% end %>
            <p>Make a request with <%= @advisor.first_name.capitalize %> to leave a review </p>
          </div>

        <% elsif @request.review.blank? && params[:r_id] %>
          <p class="detail-content" id="form-head">Please leave a review for your request with <%= @advisor.first_name.capitalize %></p>
          <%= render 'reviews/form', advisor: @advisor, review: @review, r_id: params[:r_id] %>
        <% else %>
          <div id="all-reviews">
            <% @advisor.reviews.each do |review| %>
              <div class="review-info">
                <div class="reviewer">
                  <div class="small-margin-bottom first-name">
                    <span class="first-name margin-right">
                      <%= review.client.first_name.capitalize %>
                    </span>

                    <span class="last-name">
                      <%= review.client.last_name.capitalize unless review.client.last_name.nil? %>
                    </span>
                  </div>


                  <span>
                    <p>
                      <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                      <% end %>
                    </p>
                  </span>

                </div>

                  <div class="review-body">
                    <p class="review-content"> <%= review.content %> </p>
                  </div>
              </div>
            <% end %>
         </div>
        <% end %>
      </div>
        <%= simple_form_for @request, method: :post, url: requests_path do |f| %>
        <%= f.input :advisor_id, as: :hidden, input_html: { value: @advisor.id }  %>
        <%= f.submit "Book #{@advisor.first_name.capitalize}", class: "btn btn-md btn-submit sub-button" %>
        <% end %>
    </div>
  </div>



