<%= simple_form_for :content, url: set_content_requests_path, method: :post do |f| %>
      <div class="form-container">
        <div class="p-3 mb-0.25">
          <div class="slidecontainer">
            <div class="form-headers">What is your monthly income?</div>
              <p class="text-center" style="font-size: 2em" >£<span id="demo-bill"></span></p>
              <input type="range" min="1" max="6000" value="500" class="slider" id="myRange-bill" name="content[monthly_income]">
            </div>
          </div>
        <div class="p-3 mb-0.5 paycheck">
          <div class="form-headers">Paycheck frequency:</div>
            <div class="form-check form-check-inline radios">
              <label class="form-check-label" for="inlineCheckbox1"><abbr class="emoji"> 🗓</abbr> Weekly</label>
              <input class="form-check-input" type="radio" id="inlineCheckbox1" value="Weekly" name="content[paycheck_frequency]">
            </div>
            <div class="form-check form-check-inline radios">
              <label class="form-check-label" for="inlineCheckbox2"><abbr class="emoji"> 🗓</abbr> Bi-Weekly</label>
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="Bi-Weekly" name="content[paycheck_frequency]">
            </div>
            <div class="form-check form-check-inline radios">
              <label class="form-check-label" for="inlineCheckbox3"><abbr class="emoji"> 🗓</abbr> Monthly</label>
              <input class="form-check-input" type="radio" id="inlineCheckbox3" value="Monthly" name="content[paycheck_frequency]">
            </div>
        </div>
          <div class="p-3 mb-0.5 paycheck">
            <%= f.input :fixed_expenses, as: :text,:input_html => {:rows => 5}, label: "What are your fixed expenses?" %>
          </div>
          <div class="p-3 mb-0.5 paycheck form-headers">
            <%= f.input :due_dates, as: :text,:input_html => {:rows => 5}, label: "What are the due dates of your bills?" %>
          </div>
          <div class="p-3 mb-0.5">
            <%= f.input :content, as: :text,:input_html => {:rows => 5}, label: "What are you willing to change?" %>
          </div>
          <div class="d-flex justify-content-center" style="padding-bottom: 15px">
            <%= f.submit 'Submit',  class: 'btn btn-danger btn-md btn-form' %>
          </div>
        </div>
    <% end %>

<script>
var sliderBill = document.getElementById("myRange-bill");
var bill = document.getElementById("demo-bill");
bill.innerHTML = sliderBill.value;

sliderBill.oninput = function() {
  bill.innerHTML = this.value;
}
</script>
