<div class="background-container">
  <div class="my-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 offset-md-3">
        <div class="billpay-form-background">
          <% if session[:request]['specialty'] == 'budgeting' %>
            <%= simple_form_for :content, url: set_content_requests_path, method: :post do |f| %>
              <div class="form-fillout">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                  <%= f.input :monthly_income, label: "What is your monthly income?" %>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                  <%= f.input :paycheck_frequency, collection: %w[Weekly Bi-Weekly Monthly] %>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                  <%= f.input :fixed_expenses, label: "What are your fixed expenses?" %>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                  <%= f.input :household_size, label: "Household size?" %>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                  <%= f.input :content, label: "What are you willing to change?" %>
                </div>
                <div class="d-flex justify-content-center">
                  <%= f.submit 'submit',  class: 'btn btn-danger btn-md' %>
                </div>
              </div>
            <% end %>
          <% elsif session[:request]['specialty'] == 'bill paying' %>
            <%= simple_form_for :content, url: set_content_requests_path, method: :post do |f| %>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :monthly_income, label: "What is your monthly income?" %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :paycheck_frequency, collection: %w[Weekly Bi-Weekly Monthly] %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :fixed_expenses, label: "What are your fixed expenses?" %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :due_dates, label: "What are the due dates of your bills?" %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :content, label: "What are you willing to change?" %>
              </div>
              <div class="d-flex justify-content-center">
                <%= f.submit 'submit',  class: 'btn btn-danger btn-md' %>
              </div>
            <% end %>
          <% elsif session[:request]['specialty'] == 'saving' %>
            <%= simple_form_for :content, url: set_content_requests_path, method: :post do |f| %>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :monthly_income, label: "What is your monthly income?" %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :fixed_expenses, label: "What are your fixed expenses?" %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :savings_goal, label: "What are your savings goals? (ex. £1000, 2 months' salary)" %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :bank_account, label: "Do you have a bank account?", collection: %w[Yes No] %>
              </div>
              <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <%= f.input :content, label:  "What are you willing to change?" %>
              </div>
              <div class="d-flex justify-content-center">
                <%= f.submit 'submit',  class: 'btn btn-danger btn-md' %>
              </div>
            <% end %>
          <% else %>
            <%= link_to 'Start now', new_request_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
