<div class="background-container">
  <div class="dashboard-background">
    <h1>Dashboard</h1>
    <div class="index-container">
      <% @requests.each do |r| %>
      <div class="card card-requests">
        <h4 class="card-header">Advisor: <%= r.advisor.first_name.capitalize %> <%= r.advisor.last_name.capitalize unless r.advisor.last_name.nil? %> </h4>
        <div class="dashboard-content">
          <p><strong>Thank you for submitting your form for</strong></p>
          <h4 style="color: #FE6600; text-align: center"><%= r.specialty unless r.specialty.nil? %></h4>
          <div></div>
          <%= link_to 'Chat', chat_request_path(r), class: 'btn btn-danger btn-md' %>
          <%= link_to 'Leave a Review', show_advisor_user_path(r.advisor, r_id: r.id), class: 'btn btn-danger btn-md'  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
