
<div class="background-container">
  <div class="form-index-background">
    <h1 class="goal"> What's your goal?</h1>
    <div class="single-item" data-img-left="<%= image_path "left-arrow.png" %>" data-img-right="<%= image_path "right-arrow.png" %>">
      <% Request::TYPES.each_with_index do |type, index| %>
      <div>
         <%= simple_form_for :specialty, url: specialty_requests_path, method: :post, class: '' do |f| %>
            <%= f.input :specialty, as: :hidden, input_html: { value: type } %>
            <%= f.submit type.capitalize, class: 'button-links' %>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
